{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "env": {
    "node": true,
    "es6": true,
    "browser": true,
    "jquery": true
  },
  "rules": {
    "no-await-in-loop": 0,
    "no-plusplus": 0
   }
}